{block content}
<h1>Nahlášení problému s otázkou</h1>
<div class="new-question-form">
{form reportForm}
    {control $form errors}
    <div class="pair">
	{label text /}
	<div class="input">{input text}</div>
    </div>
    <div class="pair">
	<div class="input">{input report}</div>
    </div>
    <div class="spacer"></div>
{/form}
</div>
<h2>Znění otázky</h2>
{control questionDisplay:byId}
{/block}