{block content}
<h1 n:block=title>Procházení otázek</h1>
<div class="unit-list">
{foreach $units as $unit}
<a n:href="Question:browseByUnit $unit->id">
<div class="unit">
    <img src="{$basePath}/images/units/{$unit->img}" alt="{$unit->name}" />
    <div class="name">{$unit->name}</div>
    <div class="desc">{$unit->description}</div>
    <div class="numberOfQuestions">Počet otázek: {$questionRepository->countByUnit($unit->id)}</div>
</div>
</a>
{/foreach}
</div>
{/block}
