{block content}

<h1 n:block=title>Seznam dostupných testů</h1>

<div class="unit-list">
{foreach $tests as $test}
<a n:href="Test:overview $test->id">
<div class="unit">
    <img src="{$basePath}/images/tests/{$test->img}" alt="{$test->name}" />
    <div class="name">{$test->name}</div>
    <div class="desc">{$test->desc}</div>
</div>
</a>
{/foreach}
</div>

{/block}