{block title}Domovská stránka{/block}

{block content}

<h1>EduCenter</h1>

<h2>O projektu</h2>
<p>Projekt vznikl za účelem snadného e-testování. Podnětem bylo blížící se studium k přijmacím zkouškám na medicínu. První databáze otázek jsou tedy modelové otázky pro přijímací zkoušky na <i>2. Lékařskou Fakultu Univerzity Karlovy</i>.
Dále bych chtěl databázi rozšířit o další sady otázek k přijímacím zkouškám.</p>
<h2>Zdravím Mišáka a přeji příjemné učení :P</2>

{/block}
