body {
	font-size: 11pt;
	line-height: 1.6;
	color: #333;
	background: #e3e3e3;
	padding: 0;
	margin: 0;
	font-family: Tahoma, Geneva, sans-serif;
}

#header {
    background-color: #404040;
    /*background: #6FAFE9;*/
    /*border-bottom: 0.2em solid #114E89;*/
    margin: 0;
    opacity: 0.9;
    float: left;
    width: 100%;
    z-index: 99;
}

#header div.title {
    color: white;
    padding: 0.5em 0.5em;
    font-size: 150%;
    /* text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 2px; */
}

#header a {
    color: #fff;
    text-decoration: none;
}

#header a:hover {
    background: rgba(999,999,999,0.15);
}

#header a img {
    vertical-align: text-top;
    border: 0;
    margin: 0;
    float: none;
    
}

#header div.user {
    padding: 1.1em 1em 0;
    color: #FFF;
    position: absolute;
    top: 0;
    right: 0;
}

#header div.user a {
    color: #FFF;
}

#header-inner {
    width: 60em;
    margin: 0 auto;
    position: relative;
    z-index: 100;
}

#panel {
    overflow: hidden;
    width: 100%;
    height: 15em;
    padding: 0;
    margin: 0;
    z-index: -99;
    background: #303030 url('../images/background.jpg') center no-repeat;
}

#horizontal-menu-container {
    background-color: #101010;
    margin: 0;
    padding: 0;
    text-align: center;
}

#horizontal-menu {
    margin: 0 auto;
    width: 60em;
    overflow: hidden;
}

#container {
    padding: 0 0 2em;
    margin: 0;
    background: #e3e3e3;
}

#sidebar {
    float: left;
    width: 15em;
    padding: 0 0 1em;
    /*border-right: 2px dotted #3484D2;*/
}

#content {
    overflow: hidden;
    width: 56em;
    padding: 3em 2em 4em;
    margin: 0 auto;
    border-radius: 0 0 0.5em 0.5em;
    background: #fff;
    border: 1px solid silver;
    border-top: 0;
}

.has-sidebar {
    margin-left: 13em;
}

#footer-container {
    padding: 0;
    margin: 0;
    width: 100%;
}

#footer {
    background: #101010;
    text-align: center;
    margin: 0 auto 3em;
    padding: 3em 0;
    width: 60em;
    clear: both;
    color: #f3f3f3;
    border-radius: 0.5em;
}


/*** Navigation ***/
div#horizontal-menu ul {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
}

div#horizontal-menu ul li {
    padding: 0;
    margin: 0;
    display: block;
    float: left;
}

div#horizontal-menu ul li a {
    text-decoration: none;
    padding: 1em 2em;
    margin: 0;
    font-size: 100%;
    color: #fff;
    display: block;
    float: left;
    transition: all .3s;
}

div#horizontal-menu ul li a:hover {
    background: #252525;
}

/** TYPO -------------------------------------------------------------------- */
h1 {
    font-size: 140%;
    font-weight: normal;
    margin: 0 0 2em;
    padding: 0 .5em 1em;
    border-bottom: 1px dashed silver;
}

h2 {
    font-size: 120%;
    font-weight: normal;
    margin: 0 0 0.5em;
    padding: 0 .5em;
}

h3 {
    font-size: 110%;
    font-weight: normal;
    margin: 0 0 0.2em;
    padding: 0 .5em;
}

p {
    padding: 0.5em 0.5em 1em;
}

p.center {
    text-align: center;
}

a {
    color: #3484D2;
    text-decoration: underline;
    padding: 0;
}

a[href]:hover, a:active, a:focus {
    text-decoration: none;
    background-color: #3484D2;
    color: #fff;
}

a.button {
    background: #3484D2;
    padding: 1em;
    color: #fff;
    font-weight: bold;
    border-radius: 0.5em;
    text-align: center;
    text-decoration: none;
}

a.button:hover {
    background: #6FAFE9;
    color: #fff;
}

div.spacer {
    clear: both;
    width: 100%;
    border-bottom: 1px dashed silver;
    margin: 1em 0;
}

img {
    float: right;
    margin: 1em;
}
/*
table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
	margin: 2em 0 2em;
	font-size: 95%;
}

thead th {
	text-align: left;
	color: #000;
	border-bottom: 1px solid #d0d0d0;
}

th, td {
	padding: 5px 6px 4px;
}

td {

}

td.number {
    text-align: right;
}

tr.even:hover, tr.odd:hover {
   cursor: pointer;
   background-color: #CEE0F0;

}

tr.even {
	background-color: #f9f9f9;
}

tr.odd {
	background-color: #f3f3f3;
}

tr a {
    color: #000;
}
*/
span.smaller {
    font-size: 90%;
}

/*** Paginator ***/
.paginator {
    margin: 0 1em 2em;
    padding: 0 0 2em;
    font-size: 90%;
    text-align: center;
    border-bottom: 1px solid #d0d0d0;
    line-height: 200%;
}

.paginator .heading {
    margin: 0;
    padding: 0.1em 0.5em;
    font-size: 1.1em;
    color: #606060;
}

.paginator a, .paginator span {
    margin-right: 0.1em;
    padding: 0.2em 0.3em;
    color: #a0a0a0;
}

.paginator a {
    border: 1px solid #a0a0a0;
    text-decoration: none;
    color: #505050;
}

.paginator a:hover {
    background-color: #e0e0e0;
    color: black;
}

.paginator a.active {
    border: 1px solid #000;
    color: #fff;
    background: #3484D2;
}

.paginator a.answered {
    border: 1px solid #000;
    color: #000;
    background: #d3d3d3;
}

.paginator span.button {
    border: 1px solid #DDDDDD;
}

.paginator .current {
    background: #606060;
    border: 1px solid #606060;
    color: white;
    font-weight: bold;
}

.left {
    text-align: left;
}
/*** Question-viewer ***/
div.question-viewer {
    padding: 1em;
}

div.question-viewer img {
    width: 6em;
    position: relative;
    top: 4em;
    left: 1em;
    opacity: 0.6;
    float: none;
}

div.question-viewer div.question {
    margin: 0 0 0 0;
    padding: 10px 10px 20px 10px;
    border-bottom: 1px solid #d0d0d0;
}

div.question-viewer div.even {
    background: #f3f3f3;
}

div.question-viewer div.odd {
    background: #f9f9f9;
}

div.question-viewer div.answer {
    margin: 0 0 0 2em;
    padding: 0.5em;
    
}

div.question-viewer div.even div.correct, div.question-viewer div.odd div.correct {
    margin: 0 0 0 2em;
    padding: 0.5em;
}

div.question-viewer div.even div.correct {
    background: #C6D880;
}

div.question-viewer div.odd div.correct {
    background: #DDECA4;
}

div.question-viewer div.checkbox, div.question-viewer div.checkbox-checked {
    width: 1em;
    float: left;
}

div.question-viewer div.checkbox a {
    width: 1em;
    padding: 0.5em;
    display: block;
    text-align: center;
    border-radius: 0;
    text-decoration: none;
}

div.question-viewer div.checkbox-checked a {
    width: 1em;
    padding: 0.5em;
    display: block;
    text-align: center;
    text-decoration: none;
    background: #3484D2;
    color: #fff;
    border-radius: 0;
}

div.question-viewer div.bottom-bar {
    margin: 2em 0 3em 0;
    padding: 0.5em;
    /*border-top: 1px dashed #909090;
    background: #f5f5f5;*/
    text-align: center;
}

div.question-viewer div.flash {
    margin: 0;
}

/*** Report-list ***/
div.report-list {
    border-top: 1px solid #d0d0d0;
    padding: 0;
    margin: 2em 0;
}

div.report-list div.even, div.report-list div.odd {
    padding: 1em;
}

div.report-list div.even {
    background-color: #f3f3f3;
}

div.report-list div.odd {
    background-color: #f9f9f9;
}

div.report-list .resolved {
   color: #909090;
}

/*** Unit list ***/
div.unit-list {overflow: hidden; padding: 0 0 2em;}

div.unit-list div.unit {
    background: #f3f3f3;
    border: 1px solid silver;
    border-radius: 0.4em;
    float: left;
    width: 24.5em;
    height: 15em;
    padding: 1em;
    margin: .5em;
    transition: all .3s;
}

div.unit-list img {
    width: 10em;
    float: right;
    margin: 0.5em;
    border: 0;
}

div.unit-list div.name {
    margin: .5em 0;
    font-weight: bold;
    color: #000;
}

div.unit-list div.desc {color: #000; margin: 1em .5em;} div.unit-list div.numberOfQuestions {color: #000; margin: 1em .6em; font-size: 80%;}

div.unit-list a:hover div.unit {background-color: #e3e3e3;}

/* ** Test-results ** */
div.test-results {
    padding: 1em 0;
    overflow: hidden;
}

div.test-results > div {
    width: 25em;
    float: left;
    border-radius: 0.5em;
    background: #f3f3f3;
    padding: 1em;
    margin: 0 1em 0 0;
}

div.test-results > div > span {
    font-size: 2em;
    text-align: right;
    vertical-align: baseline;
} 

div.test-results-list {
    padding: 0;
    margin: 0.5em;
    border: 1px solid #e3e3e3;
    border-radius: 0.5em;
    overflow: hidden;
}

div.test-results-list > div.odd {
    padding: 1em;
    background: #f9f9f9;
}

div.test-results-list > div.even {
    padding: 1em;
    background: #f3f3f3;
}

div.test-results-list span.date {
    font-size: 0.8em;
    margin: 0 2em;
}

div.test-results-list a.showAll {
    display: block;
    background: #e3e3e3;
    text-align: center;
    padding: 0.5em;
    font-size: 0.8em;
}

/*** Forms ***/
fieldset {
	font-size: smaller;
	border: 1px solid silver;
	border-radius: 5px;
	margin: 1.5em 0;
	padding: 1ex 0;
}

legend {
	font-weight: bold;
	margin-left: 10px;
	font-size: 120%;
}

label {
	/*font-weight: bold;*/
}

form div.pair {
    margin-bottom: 1ex;
}

form div.spacer {
    border-bottom: 1px dashed silver;
    height: 1px;
    margin: 2em 0;
    clear: both;
}

form div.pair label {
	display: block;
	width: 15em;
	text-align: right;
	float: left;
	padding: 0 1em 0 0;
	line-height: 2;
	vertical-align: middle;
}

form div.pair div.input {
	margin-left: 17em;
}

form div.pair div.input label {
	width: 15em;
	display: inline;
	float: none;
	line-height: normal;
}

form ul.error {
	margin: 0;
	padding: 0;
	list-style: none;
}

form ul.error li {
	display: block;
	padding: .8em;
	margin-bottom: 1em;
	border: 2px solid #FBC2C4;
	background: #FBE3E4;
	color: #8a1f11;
}

input[type=text], textarea, input[type=password], select, input[type=file] {
	border-radius: 0.5em;
	border: 1px solid silver;
	padding: .3em;
	margin-right: .5em;
	font-family: Tahoma, sans-serif;
	font-size: 1em;
}

input[type=submit] {
	font-family: Tahoma, sans-serif;
	font-size: 1em;
	border-radius: 0.4em;
	border: 1px solid silver;
	padding: .3em 1em;
}

input[type=checkbox] {
	vertical-align: middle;
}

/*** Flash messages ***/
div.flash {
	padding: .8em;
	margin: 0 0 2em;
	border: 2px solid #ddd;
	border-radius: 0.5em;
}

div.flash.success {
	background: #E6EFC2;
	color: #264409;
	border-color: #C6D880;
}

div.flash.info {
	background: #FFF6BF;
	color: #514721;
	border-color: #FFD324;
}

div.flash.error {
	background: #FBE3E4;
	color: #8a1f11;
	border-color: #FBC2C4;
}

/*** Pop-up ***/
#backgroundPopup {
    z-index:1;
    position: fixed;
    display:none;
    height:100%;
    width:100%;
    background:#000000;
    top:0px;
    left:0px;
}
#toPopup {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 0.4em solid #d3d3d3;
    border-radius: 0.4em;
    display: none;
    left: 50%;
    margin-left: -20em;
    position: fixed;
    top: 20%;
    width: 40em;
    padding: 2em ;
    z-index: 2;
}
#toPopup h2 {
    text-align: center;
    margin: 0 0 2em 0;
}
div.loader {
    background: url("../img/loading.gif") no-repeat scroll 0 0 transparent;
    height: 32px;
    width: 32px;
    display: none;
    z-index: 9999;
    top: 40%;
    left: 50%;
    position: absolute;
    margin-left: -10px;
}
div.close {
    background: url("../img/closebox.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 30px;
    position: absolute;
    right: -27px;
    top: -24px;
    width: 30px;
}
span.ecs_tooltip {
    background: none repeat scroll 0 0 #000000;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    display: none;
    font-size: 11px;
    height: 16px;
    opacity: 0.7;
    padding: 4px 3px 2px 5px;
    position: absolute;
    right: -62px;
    text-align: center;
    top: -51px;
    width: 93px;
}
span.arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #000000;
    display: block;
    height: 1px;
    left: 40px;
    position: relative;
    top: 3px;
    width: 1px;
}
div#popup_content {
    margin: 4px 7px;
}



/*** Icons ***/
.icon {
	padding-left: 24px;
	background-position: 0 50%;
	background-repeat: no-repeat;
}

.icon.tick {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAWVJREFUeNpi/P//PwNdgVsnw38QJkuzYxvD/3c/JoIxiE2y5idfmv/P2sQAxk+/NoJdwkKs5sV5zQzbj9QyMLAyMDACxb7/f4eqyB1omjsWvzkBNd/+XPR/1h6G/zOBePZehv+XPsX/d4J4wRiu6MqnOCCGS0DEW4GKPyb8n30Q6OwDQM2HQJoTUDWDbD37we//7GNABUcZ/p967//foZkBjEFskPgsoPgcIH36gz+qZiBggfuHmYHhH1Dqwq2NDLVpNmBJEJuBCehnIFZTsWOomLaRYV8VgwlQ6izMAJB+Y5c2hjOlqboMj59cZvj3j4EBlrYYgbJMQM2yMroMXbMvM+xF0wwCQHsZnt/by7DlheCrNAd7WYYfPz4x/AfZCpRhBsaRiIQsw4Q5t7FqRgcgl/xf+Zz7/9wbDGAMYrug+ZkQMHYFalj9khuMXUnUDDfEExgznp3kaYYbQqxmRkqzM0CAAQBWbMG1YQFlxwAAAABJRU5ErkJggg==");
}

.icon.user {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAfNJREFUeNqcU89rE0EYfZNsto1rbdUmofUgmoOWQIm/EOtB7aUIpfRWL148eVOwf0FO4g8oWIpHvRhPQvHeixSRWooptVVIrEnRpkk2+yM7s7PdzbpJKIaykeCD4YNv3nvzzcz3Edd1cQBCSDM+unk8TgQsRwfDMZO7kGVeDAXd60+XqtnGfrsmAB/sO1i8cmkwlkyexbmROELSQEyrYdGP62vQEyYJUZQQEE8gGIogQCRYNhJdG1jcxs8dDdQSMXI5gYnpMTi240eF4JekhokHC8/BC79RlVVIx4JwLIauK+CmlUapBKWiQJUVL8oQROdl1wYr9pnU8koeVNfADB1beQOvM/VUVwYTL7bTY6m1TRa9he8/dvFp7RsKQhL332m/bs9vv/3nG9x4/GXvzgUpcvV8P4YqFF9zDo6GOIZ6dzE13oePG3zGfJIZ96hRX4PhvkBk9FQY6XWGexcnce3uJEYpxUaR4U2GY/r0Eei6Gel4harKkC1zr/NqmFsqATZD3Vvp9ToqZR25sgXDoJ2vUFIoCvI+NI2h8e0zr4wWyTtGCBLkK71g1OxsUCiqWM1VcXJAQrPdD1qetObkc1YBY7yzAc19ePi+Rp85bivfpm/CK8J291Zngam/A3hoGvu9EG/THEaDnPU0qq/B/+CPAAMAQ2jaR3QERSQAAAAASUVORK5CYII=");
}

.icon.edit {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAXxJREFUeNqU0s1LAkEYBvDHsK4FJXmQOmR1iaLyov9Ah4g+Dt3qVEJU9xCkIFAp6LAlBIYQ3oMIukhKSUaFH+mlukggRWuipeLX2jS7ZGDaMg3swszu79l93xngH+Nhy0eitjNSnRNC0MSK161W0jrUC9KlRnTb8xPCFGCy7JKVpWXsh53I81nEsxUEzUeEKeDaPEJMc33g7E6Mj03A/XmOcqYMIclLzxVy2G/WE/20CkjEEWtZgOuWYHBAC++VF9ymTUd7EFDI4hk1wL8BKXplXhFpW8VhSIEdy4aOvhIQm6iQx0mKU0D2na4W4AprML8XlPCfu1CPP2ihAg4i/TW44S40xmU47rRY5Hx1uCbgUgYbuYuGWBxK8eZb0xHDlOq7YWlmLAUkjidJx7AeeHQDSRqQy9H/EpiwVAIpVmhMJ0rds0BRoF8uMmMp4OS+HaeeJyhLeUBjgCPUw4ylEmJ8CS/PN9Cmm1EoKGG0+5lx9SiP/lpjxuJB+hJgAG9My8C+hsJpAAAAAElFTkSuQmCC");
}