body {
	font-size: 12pt;
	line-height: 1.6;
	color: #333;
	background: #f5f5f5;
	padding: 0;
	margin: 0;
	font-family: Tahoma, Geneva, sans-serif;
}

#header {
	background: #6FAFE9;
	/*border-bottom: 0.2em solid #114E89;*/
	margin: 0;
}

#header div.title {
	color: white;
	padding: 0.5em 0.5em;
	font-size: 150%;
	/* text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 2px; */
}

#header a {
    color: #fff
}

#header a img {
    vertical-align: text-top;
    border: 0;
    
}

#header div.user {
    padding: 1.1em 1em 0;
    color: #FFF;
    position: absolute;
    top: 0;
    right: 0;
}

#header div.user a {
    color: #FFF;
}

#header-inner {
    width: 70em;
    margin: 0 auto;
    position: relative;
}
#container {
    overflow: hidden;
    width: 70em;
    margin: 0 auto 0 auto;
    /*background: #fff;*/
    padding: 2em 1em;
}

#sidebar {
	float: left;
	width: 15em;
	padding: 0 0 1em;
	/*border-right: 2px dotted #3484D2;*/
}

#content {
	margin-left: 16em;
	padding: 2em;
	/*border-left: 1px dashed #88B9E9;*/
	border-radius: 0.5em;
	background: #fff;
	/*box-shadow: 0 0 8px rgba(0,0,0,0.3);*/
	border: 1px solid #d0d0d0;
}

#footer {
	text-align: center;
	background: #fff;
	margin: 7em auto 0;
	padding: 1em;
	width: 68em;
	border-radius: 0.5em;
	border: 1px solid #d0d0d0;
	clear: both;
}


/*** Navigation ***/
div#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
	border-radius: 0.5em;
}

div#sidebar ul ul {
    padding: 1em 0 1em 0;
    margin: 0 0 3em 0;
    background: #fff;
    border: 1px solid #d0d0d0;
}

div#sidebar li {
	display: block;
}

div#sidebar a {
	text-decoration: none;
	display: block;
	padding: 0 0.5em;
	margin: 0 0.5em;
	font-size: 100%;
	border-radius: 0.4em;
}

div#sidebar a:hover {
    background-color: #3484D2;
    color: #fff;
}

div#sidebar h3 {
    font-size: 1em;
    padding: 0 1em 0.3em;
    margin: 0 0 0.3em 0;
    font-weight: normal;
    border-radius: 0.5em;
}

/*** Typo ***/
h1 {
    font-size: 130%;
    font-weight: bold;
    margin: 0 0 .6em;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    background: #f3f3f3;
}

h2 {
	font-size: 115%;
	font-weight: bold;
	margin: 1.5em 0 0.5em;
	padding: 0 1em;
}

p {
    padding: 1em;
}

a {
    color: #3484D2;
    text-decoration: none;
    padding: 0;
}

a[href]:hover, a:active, a:focus {
	background-color: rgba(0,0,0,0.1);
	color: #000;
}

table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
	margin: 2em 0 2em;
	font-size: 95%;
}

thead th {
	text-align: left;
	color: #666;
	border-bottom: 1px solid #d0d0d0;
}

th, td {
	padding: 5px 6px 4px;
}

td {
	/*border-top: 1px solid #F2EEE1;*/
}

td.number {
    text-align: right;
}

tr.even:hover, tr.odd:hover {
   cursor: pointer;
   background-color: #CEE0F0;
   /* whatever other hover styles you want */
}

tr.even {
	background-color: #f9f9f9;
}

tr.odd {
	background-color: #f3f3f3;
}

tr a {
    color: #000;
}

span.smaller {
    font-size: 90%;
}

/*** Question-viewer ***/
div.question-viewer {
    padding: 1em;
}

div.question-viewer div.nav {
    background: #fff;
    border-bottom: 1px solid #d0d0d0;
    padding: 0.5em;
    text-align: center;
    margin: 1em 0 3em 0;
    background: #fff;
    overflow: hidden;
    line-height: 190%;
    color: #606060;
}

div.question-viewer div.nav a {
    font-size: 90%;
    /*border: 1px dashed #d3d3d3;*/
    padding: 0.3em 0.5em;
    margin: 0 auto;
    color: #606060;
}

div.question-viewer div.nav a:hover {
    background: #f3f3f3;
    color: #000;
}

div.question-viewer div.question {
    margin: 0 0 0 0;
    padding: 10px 10px 20px 10px;
    border-bottom: 1px solid #d0d0d0;
}

div.question-viewer div.even {
    background: #f3f3f3;
}

div.question-viewer div.odd {
    background: #f9f9f9;
}

div.question-viewer div.answer {
    margin: 0 0 0 2em;
    padding: 0.5em;
    
}

div.question-viewer div.even div.correct, div.question-viewer div.odd div.correct {
    margin: 0 0 0 2em;
    padding: 0.5em;
}

div.question-viewer div.even div.correct {
    background: #C6D880;
}

div.question-viewer div.odd div.correct {
    background: #DDECA4;
}

div.question-viewer div.checkbox, div.question-viewer div.checkbox-checked {
    width: 1em;
    float: left;
}

div.question-viewer div.checkbox a {
    width: 1em;
    padding: 0.5em;
    display: block;
    text-align: center;
    border-radius: 0;
}

div.question-viewer div.checkbox-checked a {
    width: 1em;
    padding: 0.5em;
    display: block;
    text-align: center;
    background: #3484D2;
    color: #fff;
    border-radius: 0;
}

div.question-viewer div.bottom-bar {
    margin: 2em 0 3em 0;
    padding: 0.5em;
    /*border-top: 1px dashed #909090;
    background: #f5f5f5;*/
    text-align: center;
}

div.question-viewer div.bottom-bar a.evaluate {
    background: #3484D2;
    padding: 1em;
    color: #fff;
    font-weight: bold;
    border-radius: 0.5em;
}

div.question-viewer div.bottom-bar a.evaluate:hover {
    background: #6FAFE9;
}

/*div.question-viewer div.checkbox a:not([href]):hover {
    background: none;
    color: #3484D2;
}
*/

/*** Report-list ***/
div.report-list {
    padding: 0;
    margin: 2em 0;
    border-top: 1px dashed #606060;
}

div.report-list div.even, div.report-list div.odd {
    padding: 1em;
}

div.report-list div.even {
    background-color: #f3f3f3;
}

div.report-list div.odd {
    background-color: #f9f9f9;
}

div.report-list .resolved {
   color: #909090;
}

/*** Forms ***/
fieldset {
	font-size: smaller;
	border: 1px solid silver;
	border-radius: 5px;
	margin: 1.5em 0;
	padding: 1ex 0;
}

legend {
	font-weight: bold;
	margin-left: 10px;
	font-size: 120%;
}

label {
	/*font-weight: bold;*/
}

form div.pair {
	margin-bottom: 1ex;
}

form div.spacer {
    border-bottom: 1px dashed silver;
    height: 1px;
    margin: 2em 1em;
    clear: both;
}

form div.pair label {
	display: block;
	width: 13em;
	text-align: right;
	float: left;
	padding: 0 1em 0 0;
	line-height: 2;
	vertical-align: middle;
}

form div.pair div.input {
	margin-left: 15em;
}

form div.pair div.input label {
	width: 15em;
	display: inline;
	float: none;
	line-height: normal;
}

form ul.error {
	margin: 0;
	padding: 0;
	list-style: none;
}

form ul.error li {
	display: block;
	padding: .8em;
	margin-bottom: 1em;
	border: 2px solid #FBC2C4;
	background: #FBE3E4;
	color: #8a1f11;
}

input[type=text], input[type=password], select {
	border-radius: 0.5em;
	border: 1px solid silver;
	padding: .3em;
	margin-right: .5em;
}

input[type=checkbox] {
	vertical-align: middle;
}

/*** Flash messages ***/
div.flash {
	padding: .8em;
	margin-bottom: 1em;
	border: 2px solid #ddd;
	border-radius: 0.5em;
}

div.flash.success {
	background: #E6EFC2;
	color: #264409;
	border-color: #C6D880;
}

div.flash.info {
	background: #FFF6BF;
	color: #514721;
	border-color: #FFD324;
}

div.flash.error {
	background: #FBE3E4;
	color: #8a1f11;
	border-color: #FBC2C4;
}

/*** Pop-up ***/
#backgroundPopup {
    z-index:1;
    position: fixed;
    display:none;
    height:100%;
    width:100%;
    background:#000000;
    top:0px;
    left:0px;
}
#toPopup {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 0.4em solid #d3d3d3;
    border-radius: 0.4em;
    display: none;
    left: 50%;
    margin-left: -20em;
    position: fixed;
    top: 20%;
    width: 40em;
    padding: 2em ;
    z-index: 2;
}
#toPopup h2 {
    text-align: center;
    margin: 0 0 2em 0;
}
div.loader {
    background: url("../img/loading.gif") no-repeat scroll 0 0 transparent;
    height: 32px;
    width: 32px;
    display: none;
    z-index: 9999;
    top: 40%;
    left: 50%;
    position: absolute;
    margin-left: -10px;
}
div.close {
    background: url("../img/closebox.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 30px;
    position: absolute;
    right: -27px;
    top: -24px;
    width: 30px;
}
span.ecs_tooltip {
    background: none repeat scroll 0 0 #000000;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    display: none;
    font-size: 11px;
    height: 16px;
    opacity: 0.7;
    padding: 4px 3px 2px 5px;
    position: absolute;
    right: -62px;
    text-align: center;
    top: -51px;
    width: 93px;
}
span.arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #000000;
    display: block;
    height: 1px;
    left: 40px;
    position: relative;
    top: 3px;
    width: 1px;
}
div#popup_content {
    margin: 4px 7px;
}



/*** Icons ***/
.icon {
	padding-left: 24px;
	background-position: 0 50%;
	background-repeat: no-repeat;
}

.icon.tick {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAWVJREFUeNpi/P//PwNdgVsnw38QJkuzYxvD/3c/JoIxiE2y5idfmv/P2sQAxk+/NoJdwkKs5sV5zQzbj9QyMLAyMDACxb7/f4eqyB1omjsWvzkBNd/+XPR/1h6G/zOBePZehv+XPsX/d4J4wRiu6MqnOCCGS0DEW4GKPyb8n30Q6OwDQM2HQJoTUDWDbD37we//7GNABUcZ/p967//foZkBjEFskPgsoPgcIH36gz+qZiBggfuHmYHhH1Dqwq2NDLVpNmBJEJuBCehnIFZTsWOomLaRYV8VgwlQ6izMAJB+Y5c2hjOlqboMj59cZvj3j4EBlrYYgbJMQM2yMroMXbMvM+xF0wwCQHsZnt/by7DlheCrNAd7WYYfPz4x/AfZCpRhBsaRiIQsw4Q5t7FqRgcgl/xf+Zz7/9wbDGAMYrug+ZkQMHYFalj9khuMXUnUDDfEExgznp3kaYYbQqxmRkqzM0CAAQBWbMG1YQFlxwAAAABJRU5ErkJggg==");
}

.icon.user {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAfNJREFUeNqcU89rE0EYfZNsto1rbdUmofUgmoOWQIm/EOtB7aUIpfRWL148eVOwf0FO4g8oWIpHvRhPQvHeixSRWooptVVIrEnRpkk2+yM7s7PdzbpJKIaykeCD4YNv3nvzzcz3Edd1cQBCSDM+unk8TgQsRwfDMZO7kGVeDAXd60+XqtnGfrsmAB/sO1i8cmkwlkyexbmROELSQEyrYdGP62vQEyYJUZQQEE8gGIogQCRYNhJdG1jcxs8dDdQSMXI5gYnpMTi240eF4JekhokHC8/BC79RlVVIx4JwLIauK+CmlUapBKWiQJUVL8oQROdl1wYr9pnU8koeVNfADB1beQOvM/VUVwYTL7bTY6m1TRa9he8/dvFp7RsKQhL332m/bs9vv/3nG9x4/GXvzgUpcvV8P4YqFF9zDo6GOIZ6dzE13oePG3zGfJIZ96hRX4PhvkBk9FQY6XWGexcnce3uJEYpxUaR4U2GY/r0Eei6Gel4harKkC1zr/NqmFsqATZD3Vvp9ToqZR25sgXDoJ2vUFIoCvI+NI2h8e0zr4wWyTtGCBLkK71g1OxsUCiqWM1VcXJAQrPdD1qetObkc1YBY7yzAc19ePi+Rp85bivfpm/CK8J291Zngam/A3hoGvu9EG/THEaDnPU0qq/B/+CPAAMAQ2jaR3QERSQAAAAASUVORK5CYII=");
}

.icon.edit {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAXxJREFUeNqU0s1LAkEYBvDHsK4FJXmQOmR1iaLyov9Ah4g+Dt3qVEJU9xCkIFAp6LAlBIYQ3oMIukhKSUaFH+mlukggRWuipeLX2jS7ZGDaMg3swszu79l93xngH+Nhy0eitjNSnRNC0MSK161W0jrUC9KlRnTb8xPCFGCy7JKVpWXsh53I81nEsxUEzUeEKeDaPEJMc33g7E6Mj03A/XmOcqYMIclLzxVy2G/WE/20CkjEEWtZgOuWYHBAC++VF9ymTUd7EFDI4hk1wL8BKXplXhFpW8VhSIEdy4aOvhIQm6iQx0mKU0D2na4W4AprML8XlPCfu1CPP2ihAg4i/TW44S40xmU47rRY5Hx1uCbgUgYbuYuGWBxK8eZb0xHDlOq7YWlmLAUkjidJx7AeeHQDSRqQy9H/EpiwVAIpVmhMJ0rds0BRoF8uMmMp4OS+HaeeJyhLeUBjgCPUw4ylEmJ8CS/PN9Cmm1EoKGG0+5lx9SiP/lpjxuJB+hJgAG9My8C+hsJpAAAAAElFTkSuQmCC");
}